body {
  font-family: Arial;
  background: #f2f2f2;
}

.box {
  width: 300px;
  margin: 80px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

img {
  width: 100%;
  margin-top: 10px;
}
